<!DOCTYPE html>
<html lang="en">

<head>
    <title>ejs engine</title>
</head>

<body>
    <h1>ejs engine</h1><br>
    <h4>Welcome, <%= user.name %></h4>
    <h3>my number is <%= user.number %></h3>
    <h3>my email is <%= user.email %></h3>
    <!-- <ul><%= user.skill.forEach((item)=>{ %>
        <li><%= item %></li>
    <%= }) %>
    </ul> -->
</body>

</html>